/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2020, 2:43:20 PM
    Author     : josephiannone
*/

VBox {
     -fx-alignment: center ;
}

.label {
    -fx-width: 100%;
}
.root{
    -fx-font: 16px "Courier New";
    -fx-base: gray;
    -fx-color: white;
    -fx-background: black;
}

RadioButton {
    -fx-min-width: 500px;
}

.leftRightOptGroup {
    -fx-margin: 10;
}

.button {
    -fx-margin-top: 20;
    -fx-font: 24px "Courier New";
    
}
